html {
    margin: -8px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    vertical-align: top;
    text-align: right;
    float: right;
    margin: 10px;
}

header {
    background-color: #1F2937;
    font-size: 24px;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    padding: 0 10px;
    margin: 0 25px;;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
}

li {
    margin: 0 10px;
}


nav a {
    color: antiquewhite;
    text-decoration: none;
}

nav li button {
    color: antiquewhite;
    background-color: #1F2937;
    font-size: 24px;
    border: 0px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    margin: 100px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.sign-up {
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 25px;
    margin: 250px;
}

.sign-up p {
    margin-top: 0;
}

#hero > h1 {
    font-size: 48px;
}
#hero > p {
    font-size: 18px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero {
    margin-top: 0;
    padding: 20px;
    display: flex;
    flex: 1;
    background-color: #1F2937;
    font-size: 24px;
    color: antiquewhite;
    align-items: center;
    justify-content: space-evenly;
}


.flex-container {
    padding: 20px;
    flex: 1;
}

#hero-main-text {
    margin: -10px;
}

#hero button {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #3882F6;
    color: antiquewhite;
    border: 0px;
}

.nav-container {
    display: flex;
    padding: 25px;
    margin-bottom: 0px;
    justify-content: space-between;
    list-style-type: none;
}

.nav-container nav {
    justify-content: space-evenly;
    display: flex;
}

footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: antiquewhite;
}

.sign-up button {
    padding: 10px 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #3882F6;
    color: antiquewhite;
    border: 1px solid antiquewhite;   
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}


#login-popup h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

#login-popup .form-element {
    margin: 15px 0px;
}

#login-popup .form-element label{
    font-size: 14px;
    color: #222;
}

#register-popup h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

#register-popup .form-element {
    margin: 15px 0px;
}

#twt-popup .form-element {
    margin: 15px 0px;
}

#register-popup .form-element label{
    font-size: 14px;
    color: #222;
}

#login-popup .form-element input[type="email"],
#login-popup .form-element input[type="password"],
#register-popup .form-element input[type="email"],
#register-popup .form-element input[type="password"],
.popup .form-element input[type="text"]  {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#login-popup .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

#register-popup .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form-element button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

#task-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

#task-table th{
    background-color: #1F2937;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

#task-delete {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: antiquewhite;
    background-color: #1F2937;
}


#task-table td,
#task-table th {
    padding: 12px 15px;
} 