
html {
    margin: -8px;
}

.flex-container {
    display: flex;
    margin: 100px;
    /*justify-content: space-between;*/
}

.flex-container {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.sign-up {
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 25px;
    margin: 250px;
}

.sign-up p {
    margin-top: 0;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
image {
    vertical-align: top;
    float: right;
}
#hero > h1 {
    font-size: 48px;
}
#hero > p {
    font-size: 18px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    text-align: right;
}

#hero {
    margin-top: 0;
    padding: 20px;
    display: flex;
    flex: 1;
    background-color: #1F2937;
    font-size: 24px;
    color: antiquewhite;
    align-items: center;
    justify-content: space-evenly;
}


.flex-container {
    padding: 20px;
    flex: 1;
}

#hero-main-text {
    margin: -10px;
}

header {
    background-color: #1F2937;
    font-size: 24px;
    color: antiquewhite;
}
ul {
    padding: 0 10px;
    margin: 0 25px;;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
}

li {
    margin: 0 10px;
}


nav a {
    color: antiquewhite;
    text-decoration: none;
}

#hero button {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #3882F6;
    color: antiquewhite;
    border: 0px;
}

.nav-container {
    display: flex;
    padding: 25px;
    margin-bottom: 25px;
    justify-content: space-between;
    list-style-type: none;
}

.nav-container nav {
    justify-content: space-evenly;
    display: flex;
}

footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: antiquewhite;
}

.sign-up button {
    padding: 10px 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #3882F6;
    color: antiquewhite;
    border: 1px solid antiquewhite;   
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}